<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <configuracion>
    <Id>0</Id>
    <Descripcion>PerfilPorDefault</Descripcion>
    <PuertoCom>COM3</PuertoCom>
    <UnidadMedida>mm</UnidadMedida>
    <TipoProg>abs</TipoProg>
    <MaxX>100</MaxX>
    <MaxY>100</MaxY>
    <MaxZ>100</MaxZ>
    <LargoSeccion>0.5</LargoSeccion>
    <VelocidadMovimiento>60</VelocidadMovimiento>
    <AlturaAscenso>1</AlturaAscenso>
    <GradosPasoX>12</GradosPasoX>
    <TamVueltaX>1</TamVueltaX>
    <GradosPasoY>12</GradosPasoY>
    <TamVueltaY>1.33</TamVueltaY>
    <GradosPasoZ>2.1</GradosPasoZ>
    <TamVueltaZ>10</TamVueltaZ>
  </configuracion>
</DocumentElement>