<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <configuracion>
    <Id>0</Id>
    <Descripcion>PerfilPorDefault</Descripcion>
    <PuertoCom>COM3</PuertoCom>
    <UnidadMedida>mm</UnidadMedida>
    <TipoProg>abs</TipoProg>
    <MaxX>100</MaxX>
    <MaxY>100</MaxY>
    <MaxZ>100</MaxZ>
    <LargoSeccion>0.5</LargoSeccion>
    <VelocidadMovimiento>60</VelocidadMovimiento>
    <AlturaAscenso>1</AlturaAscenso>
    <GradosPasoX>1.8</GradosPasoX>
    <TamVueltaX>1.75</TamVueltaX>
    <GradosPasoY>1.8</GradosPasoY>
    <TamVueltaY>1.5</TamVueltaY>
    <GradosPasoZ>1.8</GradosPasoZ>
    <TamVueltaZ>1.15</TamVueltaZ>
  </configuracion>
  <configuracionGral>
    <IdLastConfig>0</IdLastConfig>
  </configuracionGral>
</DocumentElement>