<?xml version="1.0" standalone="yes"?>
<DocumentElement>
  <configuracion>
    <Id>0</Id>
    <Descripcion>PerfilPorDefault</Descripcion>
    <PuertoCom>COM1</PuertoCom>
    <UnidadMedida>mm</UnidadMedida>
    <TipoProg>abs</TipoProg>
    <MaxX>100</MaxX>
    <MaxY>100</MaxY>
    <MaxZ>100</MaxZ>
  </configuracion>
  <materiales>
    <Id>1</Id>
    <Descripcion>MATERIAL</Descripcion>
    <Espesor>10</Espesor>
    <Ancho>10</Ancho>
    <Largo>10</Largo>
  </materiales>
  <motores>
    <Id>1</Id>
    <Descripcion>MOTOR_X</Descripcion>
  </motores>
  <motores>
    <Id>2</Id>
    <Descripcion>MOTOR_Y</Descripcion>
  </motores>
  <motores>
    <Id>3</Id>
    <Descripcion>MOTOR_Z</Descripcion>
  </motores>
  <configuracionMatMot>
    <Id>1</Id>
    <IdConfig>0</IdConfig>
    <IdMaterial>1</IdMaterial>
    <IdMotor>1</IdMotor>
    <GradosPaso>12</GradosPaso>
    <TamVuelta>1</TamVuelta>
  </configuracionMatMot>
  <configuracionMatMot>
    <Id>2</Id>
    <IdConfig>0</IdConfig>
    <IdMaterial>1</IdMaterial>
    <IdMotor>2</IdMotor>
    <GradosPaso>1,6</GradosPaso>
    <TamVuelta>2</TamVuelta>
  </configuracionMatMot>
  <configuracionMatMot>
    <Id>3</Id>
    <IdConfig>0</IdConfig>
    <IdMaterial>1</IdMaterial>
    <IdMotor>3</IdMotor>
    <GradosPaso>1</GradosPaso>
    <TamVuelta>2</TamVuelta>
  </configuracionMatMot>
</DocumentElement>